<div class="margin-top-5">
    <div class="ui four column doubling stackable grid container">
        <div class="column" ng-repeat="article in articles">
            <div class="ui card">
                <div class="image">
                    <img ng-src="{{article.image}}" alt="{{article.name}}" />
                </div>
                <div class="content">
                    <a class="header">{{article.name}} </a>
                    <div class="meta">
                        <span class="date">Prix: {{article.price}} €</span>
                    </div>
                    <div class="meta">
                        <span class="date">En stock</span>
                    </div>
                </div>
                <div class="ui bottom attached button" ng-click="addToCart(article.id)">
                    <i class="add to cart icon" style="margin-top:-5.5%;"></i>
                    Ajouter au panier
                </div>

            </div>
        </div>
    </div>

</div>
