<div class="ui grid  aligned container">
	<div class="sixteen wide column">
		<stripeform></stripeform>
		<h4 class="ui dividing header">E-mail</h4>
		<form class="ui form">
			<div class="field">
				<input type="email" name="email" ng-model="order.email" required="true">
			</div>
			<h4 class="ui dividing header margin-top-5">Adresse de livraison</h4>
			<form>
				<div class="two fields">
					<div class="field">
						<label>Prénom</label>
						<input type="text" name="firstname" ng-model="order.delivery.firstname" required="true">
					</div>
					<div class="field">
						<label>Nom</label>
						<input  type="text" name="lastname" ng-model="order.delivery.lastname" required="true">
					</div>
				</div>
				<div class="field">
					<label>Numéro de voie</label>
					<input type="text" name="number" ng-model="order.delivery.number" required="true">
				</div>
				<div class="field">
					<label>Libellé de voie</label>
					<input type="text" name="street" ng-model="order.delivery.street" required="true">
				</div>
				<div class="field">
					<label>Complément</label>
					<input  type="text" name="complement" ng-model="order.delivery.complement">
				</div>
				<div class="two fields">
					<div class="field">
						<label>Code postal</label>
						<input type="text" name="zipcode" ng-model="order.delivery.zipcode" required="true">
					</div>
					<div class="field">
						<label>Ville</label>
						<input type="text" name="city"  ng-model="order.delivery.city" required="true">
					</div>
				</div>        
				<div class="ui checked checkbox">
					<input type="checkbox" checked="check" id="checkFacturation">
					<label>Utiliser la même adresse pour la facturation</label>
				</div>	

				<div id="facturation" class="margin-top-5">
					<h4 class="ui dividing header">Adresse de facturation</h4>
					<div class="two fields">
						<div class="field">
							<label>Prénom</label>
							<input type="text" name="firstname" ng-model="order.facturation.firstname" ng-required="isRequired">
						</div>
						<div class="field">
							<label>Nom</label>
							<input  type="text" name="lastname" ng-model="order.facturation.lastname" ng-required="isRequired">
						</div>
					</div>
					<div class="field">
						<label>Numéro de voie</label>
						<input type="text" name="number" ng-model="order.facturation.number" ng-required="isRequired">
					</div>
					<div class="field">
						<label>Libellé de voie</label>
						<input type="text" name="street" ng-model="order.facturation.street" ng-required="isRequired">
					</div>
					<div class="field">
						<label>Complément</label>
						<input  type="text" name="complement" ng-model="order.facturation.complement" >
					</div>
					<div class="two fields">
						<div class="field">
							<label>Code postal</label>
							<input type="text" name="zipcode" ng-model="order.facturation.zipcode" ng-required="isRequired">
						</div>
						<div class="field">
							<label>Ville</label>
							<input type="text" name="city" ng-model="order.facturation.city" ng-required="isRequired">
						</div>
					</div>    
				</div>    	
				<br>
				<button class="ui button primary margin-top-5" ng-click="submit()" id="doOrder">Passer la commande</button>
			</form>

		</div>
	</div>
</div>

